<!DOCTYPE html>
<html>
<head>
  <title>Edit Workout Plan</title>
  <%= stylesheet_link_tag 'workout_plan_edit' %>
</head>
<body>
  <div class="container">
    <h1>Edit Workout Plan</h1>

    <%= form_with(model: @workout_plan, url: workout_plan_path(@workout_plan), local: true, method: :patch, class: "form") do |form| %>
      <div class="form-group">
        <%= form.label :instructions %>
        <%= form.text_field :instructions, class: "form-control" %>
      </div>
      <br>

      <%= form.submit "Update", class: "btn btn-primary" %>
    <% end %>

    <%= link_to 'Back', workout_plans_path %>
  </div>
</body>
</html>
