<!DOCTYPE html>
<html>
<head>
  <title>Exercise Details</title>
  <%= stylesheet_link_tag 'exercise_show' %>
</head>
<body>
  <div class="container">
    <h1>Exercise Details</h1>

    <p><strong>Name:</strong> <%= @exercise.name %></p>
    <p><strong>Description:</strong> <%= @exercise.description %></p>
    <p><strong>Image:</strong>
     <% if @exercise.image.attached? %>
     <%= image_tag @exercise.image.variant(resize_to_limit: [500, 500]) %>
     <% end %>
    </p>
    <%= link_to 'New Exercise', new_workout_plan_exercise_path(@exercise.workout_plan), class: "btn btn-primary" %>
    <%= link_to 'Destroy', workout_plan_exercise_path(@exercise), method: :delete, data: { confirm: 'Are you sure you want to delete this exercise?' }, class: "btn btn-primary" %>
    <%= link_to 'Back', @exercise.workout_plan, class: "btn btn-primary" %>
  </div>
</body>
</html>



  
